<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../lib/phpunit/phpunit.xsd"
        bootstrap="../../../lib/phpunit/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        backupGlobals="false"
        backupStaticAttributes="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        beStrictAboutTestsThatDoNotTestAnything="false"
        beStrictAboutOutputDuringTests="true"
>
<!--    printerClass="Hint_ResultPrinter"
        testSuiteLoaderClass="phpunit_autoloader"
-->

    <php>
        <!--<const name="PHPUNIT_LONGTEST" value="1"/> uncomment to execute also slow or otherwise expensive tests-->
        <const name="PHPUNIT_SEQUENCE_START" value="141000"/>
    </php>

    <testsuites>
        <testsuite name="cleanupusers_files_testsuite">
            <directory suffix="_test.php">tests</directory>
            <directory suffix="_test.php">userstatus</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./classes</directory>
            <directory suffix=".php">./lang</directory>
            <directory suffix=".php">./userstatus</directory>
        </include>
        <exclude>
            <directory suffix="test.php">./userstatus</directory>
            <directory suffix=".php">./classes/table</directory>
        </exclude>
    </coverage>

</phpunit>
