.cleanupusers .c0 {
    max-width: 200px;
    width: 190px;
}
.cleanupusers .c1 {
    max-width: 300px;
    width: 380px;
}
.cleanupusers .c2 {
    max-width: 200px;
    width: 150px;
}
.cleanupusers .c3 {
    max-width: 200px;
    width: 240px;
}
.cleanupusers .c4 {
    max-width: 200px;
    width: 60px;
}

/* decrease size of numeric inplace input fields */
/* TODO: does not work */
/* .cleanupusers .c4 input .ignoredirty {*/
/* table.cleanupusers input.ignoredirty { */
.cleanupusers input.ignoredirty {
    max-width: 100px;
    width: 30px;
/*
    max-width: 10em;
    width: 6em;*/
}
